@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

/*

font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;

yellow: #ffbb00
light-grey: #8a8a8a
dark-grey: #333333
blue: #1487fd

*/




/* px, pt, %, em, rem, vh, vw, auto */

/* core css */
* {
    box-sizing: border-box;
}

.border {
    border: 1px solid #c4c4c4;
}

html, body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    background:#eeeeee;
    /* The image used */

    background-image: url("images/top_bg.png");
    background-attachment:scroll;
    width: 100%;
      
    /* Center and scale the image nicely */
    background-position: center;
    background-position-y: -754px;
    background-repeat: no-repeat;
    background-size: auto;
    
    /* Needed to position the navbar */
    position: relative;
}




a {
    color:#FFFFFF;
    text-decoration: none;
}

a:hover, a:active {
    color:#FFBB00;
     
    
}

input {
    background:#cccccc;
    margin:1rem;
    padding:1rem;
}


.float-left {
    float: left;
}

.float-right {
    float: right;
}

.bg-danger {
    background: #F93154;
}

.bg-dark {
    background: #262626;
}

.container, .container-fluid {
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width:1170px;
    
}

.d-flex {
    display: flex;
    text-align: left;
    padding: 1rem 1rem 1rem 0rem;
}
.d-flex .row3lyx {
    padding: 0rem 1rem 0rem 1rem;
    
}
.row5lyx {
    margin:3rem 0rem 0rem 3rem;;
    padding: 0rem 5rem 0rem 0rem;
    justify-content: center;
}

.row5lyx h5 {
    color:#1487FD;
}

.row5lyx h6 {
    font-size: 1.3rem;
    margin: 0;
}

.appstore {
    margin-left: 1rem;
}





.justify-content-center {
    justify-content: center;
}


/* logo */
.fa-circle {
    color: #FFBB00;
    font-size: 1em;
    height: 1em;
    width: 1em;   
}

.logo {
    color: #FFFFFF;
    font-family: Poppins;
    font-weight: bold;
    font-size: 4rem;
}


/* navigation */



.navbar {
    padding-top: 1rem;
    padding-bottom: 1rem;
    justify-content: end;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
   
}

.navbar-light {
    color: #fff;
}

.navbar-light a {
    color: #fff;
}

.navbar-brand {
    font-family: Poppins;
    font-weight: bold;
    color: #fff;
    font-size: 2.5625rem;
    margin-right: 0rem;
    text-decoration:none;

}




.fa-circle {
    color: #FFBB00;
    font-size: 0.3em;
}


.nav-links {
    font-family: Roboto;
    font-weight: bold;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    text-align: right;
}

#nav-links {
    display: none;
    display: flex;
}


.nav-link,
.nav-link:link,
.nav-link:visited,
.nav-link:active {
  padding: 0.5rem 1rem;
  display: flex;
  text-align: right;
  position: relative;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  color: #FBB00F;
}

.nav-link::before {
  content: "";
  position: absolute;
  top: 80%;
  left: 1;
  width: 40%;
  height: 3px;
  background: #FFBB00;
  opacity: 0;
  -webkit-transform: translate(0, 10px);
  transform: translate(0, 10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-link:hover::before,
.nav-link:focus::before {
  opacity: 1;
  -webkit-transform: translate(0, 5px);
  transform: translate(0, 5px);
}

.nav-link.is-active::before {
    opacity: 1;
    -webkit-transform: translate(0, 5px);
    transform: translate(0, 5px);
  }

.nav-link.is-active a {
color:#FFBB00;
}



/*Ny Navigation*/

/* Navigation */

.nav {
    font-family: Verdana, Georgia, Arial, sans-serif;
    font-size: 14px;
  }
  
  .nav-items {
    padding: 0;
    list-style: none;
  }
  
  
  
  
  .nav-item {
    display: inline-block;
    margin-right: 25px;
  }
  
  .nav-item:last-child {
    margin-right: 0;
  }
  
 









h1{
    font-family:'Poppins';
    font-weight: bold;
    position:relative;
    
  }
  h1:after{
    content:"";
     position:absolute;
      
     width:75px;
     bottom:-5px;
     left:0px;
  }

.row {
    margin:0rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
}

.row1 {
    margin:0rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
}
.row2 {
    margin:0rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
}
.row3 {
    margin:4rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
    background-image: url("images/bg_row3.png");
}

.row4 {
    margin:4rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
    
}

.row5 {
    background-image: url("images/bg_row5.png");
    margin:4rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
}

.row6 {
    background: url("images/bg_row6.png");
    z-index: 0;
    overflow: hidden;
    min-height:550px;
    margin:4rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
    color:#FFFFFF;
    
}

.row6 h1 {
    text-align:left;
    margin:4rem 0rem 4rem 0rem;
}
.row6 p {
    text-align:left;
    margin:4rem 0rem 4rem 0rem;
}




.row7 {
    background-image: url("images/bg_row7.png");
   
    margin:4rem 0rem 4rem 0rem;
    display:flex;
    flex-wrap: wrap;
}
.mobile_row6 {
    position:absolute;
    z-index: 999;
    overflow:hidden;
    
}
.row8 {
    background-image: url("images/bg_footer.png");
    width: 100%;
}



.col-12 {
    width: 100%;
}

.col-6 {
    width: 50%;
}

.col-4 {
    width: 33.33333333%;
}
.col-3 {
    width: 25%;
}


.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 1.5rem;
}
.mt-3 {
    margin-top: 2rem;
}

.btn {
    background: transparent;
    border: transparent;
    padding: 0.65rem 1.375rem;
    /* border-radius: 4px; */
}

.btn-white {
    color: white;
    font-weight:bold;
    border:2px solid white;
    border-radius: 0.8rem;
    margin: 0rem 2rem 0rem 0rem;
}

.btn-white:hover {
    border:2px solid #ece9e9d5;
    border-radius: 0.8rem;
    color: #ece9e9d5;
}


.btn-danger {
    background: #F93154;
    color: #ffffff;
}
.btn-danger:hover {
    background: #c22640;
    color: #ffffff;
}

.btn-orange {
    background: #FFBB00;
    color: white;
    font-weight:bold;
    border-radius: 0.5rem;
     
   
}
.btn-orange:hover {
    background: #ecad00;
    color: rgb(247, 247, 247);
    font-weight:bold;
    border-radius: 0.5rem;
     
   
}
.btn-blue {
    background: #1487FD;
    color: white;
    font-weight:bold;
    border-radius: 0.5rem;
    width:10rem;
    text-align: center;
     
   
}
.btn-blue:hover {
    background: #1487FD;
    color: rgb(247, 247, 247);
    font-weight:bold;
    border-radius: 0.5rem;
     
   
}

.btn-video {
    color: white;
    font-weight:bold;
    border:0px solid white;
    border-radius: 0.8rem;
    margin: 0rem 2rem 0rem 0rem;
}

.btn-video:hover {
    border:0px solid #ece9e9d5;
    border-radius: 0.8rem;
    color: #ece9e9d5;
}





.header-left {
    padding: 0rem;
    margin: 0rem;
    
    
}
.header-left h5 {
    font-size: 1.5rem;
    margin: 0;
}


.navbar {
    padding: 1rem;
    margin: 1rem;
    
    
    
}
.navbar h5 {
    font-size: 1.5rem;
    margin: 0;
}


.header-right {
    padding: 1rem;
    
    text-align: right;
    
    
}
.header-right h5 {
    font-size: 1.5rem;
    margin: 0;
}

.column-center {
    padding: 1rem;
    margin-top: rem;
    color:#000000;
    text-align: center;
    width:100%;
}
.column-center h5 {
    font-size: 3rem;
    margin: 0;
}
.column-center mt-3 border p {
    width:10%;
    text-align: center;
}


.showcase-column-left {
    padding: 10rem 5rem 1rem 0rem;
    margin: 0rem;
    color:white;
    
    
}
.showcase-column-left h1 {
    font-size: 3.6rem;
    margin: 0;
}
.showcase-column-left p {
    font-size: 1.2rem;
    font-family: 'Poppins';
    margin: 2rem 4rem 2rem 0rem;
}
.showcase-column-left .fa-circle {
    font-size:2rem;
    top: 1rem;
}


.showcase-column-right {
    padding: 0rem;
    margin: 0rem;
    color:white;
    height: auto;
    overflow: hidden;
    text-align: right;
}
.showcase-column-right h1 {
    font-size: 3.0rem;
    margin: 0;
   
}



.content {
    padding: 1rem;
    margin: 1rem;
    
    
}
.content h5 {
    font-size: 1.5rem;
    margin: 0;
}




.card {
    padding: 1rem;
    margin: 1rem;
    
    
}
.card h5 {
    font-size: 1.5rem;
    margin: 0;
}






@media (min-width: 576px) {
    .container {
        width: 540px;
    }
}

@media (min-width: 786px) {
    .container {
        width: 720px;
    }
    .col-md-6 {
        width: 50%;
    }
    #nav-links {
        display: flex;
    }
}



@media (min-width: 992px) {
    .container {
        width: 960px;
    }
    .col-lg-8 {
        width: 66.666%;
    }
    .col-lg-4 {
        width: 33.333%;
    }
    .col-lg-3 {
        width: 25%;
    }
    .col-lg-2 {
        width: 16.666%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        width: 1320px;
    }
}
